body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}
@font-face{
  src: url(BergenSans-Regular.ttf);
  font-family: berg;
}


/********** Large devices only **********/
@media (min-width: 1200px) {
	
.col-lg-4{
		float: left;
		border:1px;
	}
	
	.col-lg-4{
		width: 33%;
	}
	.a {
	border: 5px solid black;
	padding: 10px;
	margin-top: 40px;
	margin-bottom: 40px;
	width: 1300px;
	height: 500px;
	margin-left: 10px;
	
	}
	.a img{
	margin-top: 35px;
	width: 600px;
	height: 400px;
	margin-left: 20px;
	}
	.b{
		float: right;
		text-align: center;
		
		margin-top: 40px;
		margin-right: 60px;
	}
	.b h1{
		font-size: 60px;
		font-family: berg;

	}
	.b h4{
		padding-top: 10px;
		padding-bottom: 30px;
	}
		.search-container {
  float: right;
  margin-left: 740px;
 
}

 input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
    border:5px solid black;
}
.search-container button {
  float: right;
  margin-top: 8px;
  
  border:5px solid black;
  height: 47px;
  width: 40px;
  margin-bottom: 1px;
}

.search-container button:hover {
  background: white;
}


}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {



.col-lg-4{
		float: left;
		border:1px;
	}
	
	.col-lg-4{
		width: 33%;
	}
	.a {
	border: 5px solid black;
	padding: 10px;
	margin-top: 40px;
	margin-bottom: 40px;
	width: 1000px;
	height: 500px;
	margin-left: 10px;
	
	}
	.a img{
	margin-top: 35px;
	width: 500px;
	height: 300px;
	margin-left: 20px;
	}
	.b{
		float: right;
		text-align: center;
		
		margin-top: 40px;
		margin-right: 60px;
	}
	.b h1{
		font-size: 30px;

	}
	.b h4{
		padding-top: 10px;
		padding-bottom: 30px;
	}
	.search-container {
  float: right;
  margin-left: 470px;
 
}

 input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
    border:5px solid black;
}
.search-container button {
  float: right;
  margin-top: 8px;
  
  border:5px solid black;
  height: 47px;
  width: 40px;
  margin-bottom: 1px;
}

.search-container button:hover {
  background: white;
}





}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
#collapsed-one {
	content: center;
	text-align: center;

}


.col-md-6{
		float: left;
		border:1px;
		
		
	}
	.col-md-6{
		width: 50%;

	}
	
	.a {
	border: 5px solid black;
	padding: 10px;
	margin-top: 40px;
	margin-bottom: 40px;
	width: 800px;
	height: 1000px;
	margin-left: 10px;
	
	}
	.a img{
	
	width: 600px;
	height: 400px;
	margin-left: 80px;
	margin-top: 40px;
	margin-bottom: 30px;
	}
	.b{
		float: right;
		text-align: center;
		
		margin-right: 130px;
	margin-top: 40px;
	margin-bottom: 30px;
	}
	.b h1{
		font-size: 60px;

	}
	.b h4{
		padding-top: 10px;
		padding-bottom: 30px;
	}

	

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  #collapsed-one {
	content: center;
	text-align: center;
}
#collapsable-nav{
	text-align: center;
}


.col-sm-3{
		float: left;
		border:1px;
		
		
	}
	
	.col-sm-4{
		width: 33%;

	}
	.a {
	border: 5px solid black;
	padding: 10px;
	margin-top: 40px;
	margin-bottom: 40px;
	width: 600px;
	height: 1000px;
	margin-left: 10px;
	
	}
	.a img{
	
	width: 400px;
	height: 200px;
	margin-left: 80px;
	margin-top: 40px;
	margin-bottom: 30px;
	}
	.b{
		float: right;
		text-align: center;
		
		margin-right: 130px;
	margin-top: 40px;
	margin-bottom: 30px;
	}
	.b h1{
		font-size: 40px;

	}
	.b h4{
		padding-top: 10px;
		padding-bottom: 30px;
	}


	
}


#buttons .btn-dark{
	margin-right: 10px;
}
#buttons .btn-light{
	margin-left: 10px;
}

.navbar-brand {
	font-size: 50px;
}

.navbar h1{
	width: 100px;
}
